.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 2rem;
    background-color: #9000ff;
  }
  
  .expense-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
  }
  
  .expense-item h2 {
    font-size: 1.2rem;
    flex: 2;
    margin: 0 1rem;
    color: white;
    text-transform: capitalize;
  }
  
  .expense-item__price {
    font-size: 1.1rem !important;
    font-weight:600;
    color: aliceblue;
    background-color: #4a00c2;
    border: 1px solid rgb(122, 21, 150);
    padding: 0.5rem;
    border-radius: 12px;
    text-align: center;
  }
  
  @media (min-width: 580px) {
    .expense-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .expense-item__description h2 {
      font-size: 1.25rem;
    }
  
    .expense-item__price {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }