@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Average Sans', sans-serif;
}

body {
  margin: 0;
  background-color: #000000;
}
.heading{
  color:aliceblue;
  text-align: center;
}